*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.pb.go
*-packr.go
.vscode/
debug
.dockerignore
.git/
.gitignore
.gitattributes
ci/.gitlab-ci.yml
.env
app.env
Dockerfile-srv
Dockerfile-swagger
Gopkg.lock
Gopkg.toml
LICENSE
README.md
docker-compose*.yml
